/* Container */
.container {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 0 20px;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    color: var(--accent);
    margin-bottom: 30px;
    font-size: 34px;
}

/* Lista de Itens */
.cart-items {
    background-color: var(--card-bg);
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #24242a;
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.01);
}

.item img {
    width: 80px;
    border-radius: 10px;
}

.item-info {
    flex: 1;
    margin-left: 20px;
}

.item-info h3 {
    font-size: 18px;
}

.item-info p {
    color: var(--text-muted);
}

/* Ações */
.item-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
}

.quantity-input {
    width: 60px;
    padding: 6px;
    border: 1px solid var(--text-muted);
    background-color: var(--bg-color);
    color: var(--text-main);
    border-radius: 6px;
    text-align: center;
}

.remove-btn {
    color: #ffd500;
    background: none;
    border: none;
    font-size: 16px;
}

.remove-btn:hover {
    color: var(--danger);
}

.update-btn {
    color: var(--primary);
    background: none;
    border: none;
    font-size: 16px;
}

/* Resumo */
.summary {
    background: linear-gradient(145deg, var(--card-bg), var(--bg-color));
    border: 1px solid var(--accent);
    border-radius: 16px;
    padding: 30px;
    position: sticky;
    top: 100px;
    height: fit-content;
}

.summary h2 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 20px;
}

.summary p {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 18px;
}

.summary p span {
    font-weight: bold;
    color: var(--accent);
}

.btn-finalizar {
    width: 100%;
    background-color: var(--primary);
    color: var(--bg-color);
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    font-size: 18px;
}

.btn-finalizar:hover {
    background-color: var(--primary-hover);
}

/* Mensagem de Carrinho Vazio */
.empty-cart-msg {
    text-align: center;
    color: #ffd500;
    /* Amarelo */
    font-size: 18px;
    padding: 40px 0;
}

/* Linha divisória do Resumo */
.summary hr {
    border: 0;
    border-top: 1px solid var(--text-muted);
    opacity: 0.2;
    margin: 15px 0;
}

.update-quantity-form {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .item {
        flex-direction: column;
        align-items: flex-start;
    }

    .summary {
        position: static;
    }
}